img[src$='#floatleft']
{
  float: left;
  margin: 1em;
}
img[src$='#floatright']
{
  float: right;
  margin: 1em;
}

.hero__caption {
  text-shadow: 0 0 2px black;
  color: white;
}

:root {
  --primary: #8bc34a;
  --primary-dark: #5a9216;
}
